@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #334155;
  --light: #f3f4f6;
  --text-light: #f3f4f6;
  --text-dark: #334155;
  --background-light: #f3f4f6;
  --background-dark: #334155;
  --dark-hover: ;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
