@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --dark: #334155; /* slate-700 */
  --light: #cbd5e1; /* slate-300 */
  --text-light: #cbd5e1;
  --text-dark: #334155;
  --background-light: #cbd5e1;
  --background-dark: #334155;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
