@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #334155;
  --light: #e2e8f0;
  --text-light: #e2e8f0;
  --text-dark: #334155;
  --background-light: #e2e8f0;
  --background-dark: #334155;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
